
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <title>Geocoding Control</title>
      <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

      <!-- Load Leaflet from CDN -->
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>

      <!-- Load Esri Leaflet from CDN -->
      <script src="https://unpkg.com/esri-leaflet@2.4.1/dist/esri-leaflet.js"
      integrity="sha512-xY2smLIHKirD03vHKDJ2u4pqeHA7OQZZ27EjtqmuhDguxiUvdsOuXMwkg16PQrm9cgTmXtoxA6kwr8KBy3cdcw=="
      crossorigin=""></script>

      <!-- Load Esri Leaflet Geocoder from CDN -->
      <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
        integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
        crossorigin="">
      <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
        integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
        crossorigin=""></script>


    <style type="text/css">
    #map {
      position:absolute;
      top: 50px; bottom: 0; left: 30%; right:10%;
      height: 500px;
    }

    .point_form_add{
        display: flex;
        flex-direction: column;
        width: 20%;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 250px;
    }

    .map_form_update{
      display: flex;
        flex-direction: column;
        width: 20%;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 250px;
    }

    form{
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      color: red;
    }

    button{
      width: 90%;
    }
    </style>
</head>

<body>
  <div id="map"></div>
  <div class="point_form_add">
    <form method="POST" action="/api/widgets/<%= mapId %>">
      <label for="lat">Latitude</label>
      <input id="lat1" name="pointLat" disabled='true'>
      <input id="lat" name="pointLat" hidden>

      <label for="long">Longitude</label>
      <input id="long1" name="pointLong" disabled='true'>
      <input id="long" name="pointLong" hidden>

      <label for="pointTitle">Title</label>
      <input type="text" id="pointTitle" name="pointTitle">

      <label for="pointDescription">Description</label>
      <input type="text" id="pointDescription" name="pointDescription">

      <div>
      <label for="point_is_favourite"> favorite </label>
      <input type="checkbox" id="point_is_favourite" name="point_is_favourite">
      </div>

      <button type="submit"> Create New Point </button>
    </form>
  </div>

  <div class="map_form_update">
    <form method="POST" action="/api/widgets/<%= mapId %>/edit">
      <label for="lat_map_update">Latitude</label>
      <input id="lat1_map_update" name="Lat_map_update" disabled='true'>
      <input id="lat_map_update" name="Lat_map_update" hidden>

      <label for="long_update">Longitude</label>
      <input id="long1_map_update" name="Long_map_update" disabled='true'>
      <input id="long_map_update" name="Long_map_update" hidden>

      <label for="title_map_update">Title</label>
      <input type="text" id="title_map_update" name="title_map_update">

      <label for="description_map_update">Description</label>
      <input type="text" id="description_map_update" name="description_map_update">

      <div>
      <label for="map_is_favourite_update"> favorite </label><nobr>
      <input type="checkbox" id="map_is_favourite_update" name="map_is_favourite_update">
      </div>

      <button type="submit"> Update Map </button>
    </form>
  </div>

  <script> let a = []; </script>
  <%point.forEach((p)=>{ %>
    <script>
      a.push({
        lat: '<%=p.latitude%>',
        lng: '<%=p.longitude%>',
        des: '<%=p.description%>',
        title: '<%=p.title%>',
    });
    </script>
  <%}) %>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script>

  let mapboxTiles = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
      attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>'
  });

  const colour =
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiYWV1bmRlcmhpbGwiLCJhIjoiY2txaDgwYnd0MDY3MjJ3bWxjeHE1eTNhdiJ9.rzZ7FRFi_3LIJELE4KXRmA'
});



map = L.map('map')
      .addLayer(mapboxTiles)
      .addLayer(colour)
      .setView(['<%= startCoordinates[0]%>','<%= startCoordinates[1]%>'], 14) //need to make geolocation


  var myIcon = L.icon({
  iconUrl: '/scripts/img/red_marker.png',
  iconSize: [40, 40],
  });

//  display the pins in my database
  let singleMarker;

  for (let mar of a) {
    console.log(mar)
      singleMarker = L.marker([mar.lat, mar.lng], { icon: myIcon, draggable: false});
      var popup = singleMarker.bindPopup(mar.title + ': ' + mar.des).openPopup()
      popup.addTo(map);
  }

  //search the map
  let searchControl = L.esri.Geocoding.geosearch().addTo(map);
  let results = L.layerGroup().addTo(map);

  searchControl.on('results', function (data) {
    //console.log(data)
    results.clearLayers();
    for (var i = data.results.length - 1; i >= 0; i--) {
      results.addLayer(L.marker(data.results[i].latlng));
      const e = data.results[i];
      document.getElementById('lat').value = e.latlng.lat.toFixed(3);
      document.getElementById('lat1').value = e.latlng.lat.toFixed(3);
      document.getElementById('long').value = e.latlng.lng.toFixed(3);
      document.getElementById('long1').value = e.latlng.lng.toFixed(3);
      document.getElementById('lat_map_update').value = e.latlng.lat.toFixed(3);
      document.getElementById('lat1_map_update').value = e.latlng.lat.toFixed(3);
      document.getElementById('long_map_update').value = e.latlng.lng.toFixed(3);
      document.getElementById('long1_map_update').value = e.latlng.lng.toFixed(3);
    }
  });

//let activatePoints =

map.on('click', onMapClick);
let marker;
function onMapClick(e) {
  if(marker)
  map.removeLayer(marker);
  marker = L.marker(e.latlng).addTo(map);
  document.getElementById('lat').value = e.latlng.lat.toFixed(3);
  document.getElementById('lat1').value = e.latlng.lat.toFixed(3);
  document.getElementById('long').value = e.latlng.lng.toFixed(3);
  document.getElementById('long1').value = e.latlng.lng.toFixed(3);
  document.getElementById('lat_map_update').value = e.latlng.lat.toFixed(3);
  document.getElementById('lat1_map_update').value = e.latlng.lat.toFixed(3);
  document.getElementById('long_map_update').value = e.latlng.lng.toFixed(3);
  document.getElementById('long1_map_update').value = e.latlng.lng.toFixed(3);

}

map.on('dblclick', function () {
  map.removeLayer(marker);
});

let clickEnabled = true;
map.on('keydown', function(e) {
console.log('key down', e.originalEvent.key)
  if (e.originalEvent.key === " ") {
    clickEnabled = !clickEnabled //toggles the swtich
    if (clickEnabled) {
      console.log("enabling click")
      map.on('click', onMapClick)

    } else {
      console.log("disabled")
      map.off('click', onMapClick)
    }
  }
});
  </script>
</body>

</html>
