<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <div id="map"> tiles </div>

  <form method="POST" action="/api/widgets/<%= mapId %>">
    <label for="lat">Latitude</label>
    <input id="lat1" name="pointLat" disabled='true'>
    <input id="lat" name="pointLat" hidden>

    <label for="long">Longitude</label>
    <input id="long1" name="pointLong" disabled='true'>
    <input id="long" name="pointLong" hidden>

    <label for="pointTitle">Title</label>
    <input type="text" id="pointTitle" name="pointTitle">

    <label for="pointDescription">Description</label>
    <input type="text" id="pointDescription" name="pointDescription">

    <label for="point_is_favourite"> favorite </label><br>
    <input type="checkbox" id="point_is_favourite" name="point_is_favourite">

    <button type="submit"> Create New </button>
  </form>

  <script> let a = []; </script>
  <%point.forEach((p)=>{ %>
    <script>
      a.push({
        lat: '<%=p.latitude%>',
        lng: '<%=p.longitude%>',
        des: '<%=p.description%>',
        title: '<%=p.title%>',
    });
    </script>
  <%}) %>

</body>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
  const leafletUrl = 'https://api.maptiler.com/maps/basic/{z}/{x}/{y}.png?key=UwQIUxGO3h6myKklxZEq';
const leafletAttribution = '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>';
const googleStreetsUrl = 'http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}';
const googleSatUrl = 'http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}';

const mapDatabase = {
  map1: {
    id: 1,
    userID: 1,
    title: "London",
    coordinate: [51.505, -0.09],
    marker: {
      'marker1': [51.505, -0.09],
      'marker2': [51.605, -0.11],
      'marker3': [51.405, -0.12],
    },
    is_public: true,
    description: 'xx',
    image: 'url',
  }
};

const pointDatabase = {
  'marker1': {
    map_id: 1,
    title: 'shop1',
    coordinate: [51.505, -0.09],
    description: 'this is shop1'
  },
  'marker2': {
    map_id: 1,
    title: 'shop1',
    coordinate: [51.405, -0.19],
    description: 'this is shop2'
  },
  'marker3': {
    map_id: 1,
    title: 'shop1',
    coordinate: [51.405, 0.01],
    description: 'this is shop3'
  }
}



// initialize the map
let map = L.map('map').setView(['<%= startCoordinates[0]%>','<%= startCoordinates[1]%>'], 13);


//regular map
let regular = L.tileLayer(`${leafletUrl}`, {
  attribution: `${leafletAttribution}`
})
regular.addTo(map);
// google street
let googleStreets = L.tileLayer(googleStreetsUrl, {
  maxZoom: 20,
  subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
});
//google satellite
let googleSat = L.tileLayer(googleSatUrl, {
  maxZoom: 20,
  subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
});

// mark icons of user database
var myIcon = L.icon({
  iconUrl: '/scripts/img/red_marker.png',
  iconSize: [40, 40],
});


//  display the pins in my database
for (let mar of a) {
  console.log(mar)
    var singleMarker = L.marker([mar.lat, mar.lng], { icon: myIcon, draggable: false});
    var popup = singleMarker.bindPopup(mar.title + ': ' + mar.des).openPopup()
    popup.addTo(map);
}


// set up layers
var baseMaps = {
  "Regular": regular,
  'Google Street': googleStreets,
  "Google Satellite": googleSat,
};
var overlayMaps = {};

L.control.layers(baseMaps, overlayMaps, { collapsed: true }).addTo(map);


var marker;
map.on('click', function(e) {
    if(marker)
        map.removeLayer(marker);
    marker = L.marker(e.latlng).addTo(map);
    exportCoordinate = e.latlng;

    document.getElementById('lat').value = e.latlng.lat.toFixed(3);
    document.getElementById('lat1').value = e.latlng.lat.toFixed(3);
    document.getElementById('long').value = e.latlng.lng.toFixed(3);
    document.getElementById('long1').value = e.latlng.lng.toFixed(3);
});


</script>

<script>
  $(document).ready(function() {
  $.ajax({
    url: "http://localhost:8030/api/widgets/test",
    method: "GET",
    dataType: "JSON",
    success: function(data, status, XHR) {
      console.log(data)
    }
  })
  })
</script>

</html>
